:root {
  --cor-body-background: #fff;
  --cor-tipografia-geral: #333333;

  --cor-faixa-verde: #2f9e41;
  --cor-menu-background: #2f9e41;
  --cor-titulo-principal: #cd191e;
  --cor-detalhe-background: #2f9e41;
  --cor-tipografia-faq: #cd191e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;    /* Suaviza fontes, em alguns navegadores, tipo o Chrome */
}

body {
  background-color: black;
  margin: 0;
  width: 100%;
  min-height: 3000px;

  display: grid;
  grid-template-columns: 1fr minmax(300px, 757px) 1fr;
}
/* O tamanho 757px é o que está no Figma  */
.grid-template {
  grid-column: 2;
  width: 100%;
  max-width: 757px;
}

main {
    background-color: var(--cor-body-background);
    width: 100%;
    min-height: 340vh;  /* ALTURA DO ESPAÇO EM BRANCO, VCS PRECISAM MEXER NISTO AQUI PRA FAZER O RODAPÉ CORRETAMENTE */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
a {
  text-decoration: none;
}

